<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Título por defecto{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/bootstrap-3.3.2-dist/css/bootstrap.min.css') }}" media="screen"/>
        {% block css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body onLoad="{% block onload %}{% endblock %}">
        {% block body %}{% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ asset('bundles/bootstrap-3.3.2-dist/js/bootstrap.min.js') }}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
