@CHARSET "UTF-8";

html{
   position: relative;
   min-height: 100%;
}

body {
	padding-top: 50px;
	margin-bottom: 50px;
}

h1 {
	color: blue;
}

.inactive {
	cursor: not-allowed;
	text-decoration: line-through;
}


#container_title {
   padding-left: 0.5em;
}

#container_header {
	margin-bottom: 5px;
}

.clickable{
   cursor: pointer;
}

#data_form{
   padding: 1em 0.5em;
}

.form_row{
   margin-bottom: 0.5em;
}

.subform{
   display: inline-block;
   width: 100%;
}

.panel-body {
   max-height: 15em;
   overflow-y: auto;
}

.subform table{
   border: none;
   width: 100%;
}

.subform th{
   text-align: center;
}


.config-content {
   margin: 1em 0.5em;
}

.config-content table {
   margin-top: 0.5em;
}

.droplist{
   overflow: hidden;
   -webkit-transition: height 0.2s ease-in;
   -moz-transition: height 0.2s ease-in;
   -ms-transition: height 0.2s ease-in;
   -o-transition: height 0.2s ease-in;
   transition: height 0.2s ease-in;
}

.table .table {
   margin: 0;
}

.table .table td {
   padding-left: 3em;
}


/*http://getbootstrap.com/examples/sticky-footer-navbar/*/
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}

.footer > .container{
   padding: 1em 1em;
}


/* http://stackoverflow.com/questions/14793367/how-to-add-a-spinner-icon-to-button-when-its-in-the-loading-state*/
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


