@CHARSET "UTF-8";

body {
	padding-top: 50px;
}

h1 {
	color: blue;
}

.inactive {
	cursor: not-allowed;
	text-decoration: line-through;
}

#container_header {
	margin-bottom: 5px;
}


/* http://stackoverflow.com/questions/14793367/how-to-add-a-spinner-icon-to-button-when-its-in-the-loading-state*/
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


